In [2]:
import os 
import pandas as pd
import numpy as np 
import json
import pymongo

In [3]:
# files = os.listdir()
# files

In [81]:
# for file in files:
file = r"T:\Uni Of Bristol\careers\technical_tests\exa-data-eng-assessment-main\exa-data-eng-assessment-main\emis\code\data\Deena887_Fahey393_7c4e1f8e-29e4-f88f-095a-aa6a9f55e6de.json"
# df = pd.read_json(file)
print(file)
with open(file) as f:
    
    data = json.loads(f.read())
#     print(data[0]['text'])
# data

T:\Uni Of Bristol\careers\technical_tests\exa-data-eng-assessment-main\exa-data-eng-assessment-main\emis\code\data\Deena887_Fahey393_7c4e1f8e-29e4-f88f-095a-aa6a9f55e6de.json

In [82]:
# len(data["entry"][])

In [83]:
# data["entry"][0]["resource"]

In [84]:
length = int(len(data["resourceType"]))
length

6

In [90]:

for i in range (len(data["entry"])):
    resource_dict = {}
    temp_list = []
    address= []
#     name = []
    identifier_l = []
    identifier={"Medical Record Number":"",
                "Social Security Number":"",
                "Driver's License":"",
                "passport Number":""
               }
    if data["entry"][i]["resource"]["resourceType"] == "Patient":
        resource_dict["active"] = data["entry"][i]["resource"]["multipleBirthBoolean"]
            
#         try:
#             if data["entry"][i]["resource"]["deceasedDateTime"] != []:
#                 resource_dict["active"] = "yes"
           

#         except:
#             resource_dict["active"] = "No"

            
#         print(data["entry"][i]["resource"])
#         resource_dict["active"] = data["entry"][i]["resource"]["multipleBirthBoolean"]
#         identifier["Medical Record Number"] = data["entry"][i]["resource"]["identifier"][1]["type"]["coding"][0]["display"]
#         identifier["passport Number"] = data["entry"][i]["resource"]["identifier"][3]["value"]#["value"]
        
#         identifier["Social Security Number"] = data["entry"][i]["resource"]["identifier"][2]["type"]["coding"][0]["display"]
#         identifier["Driver's License"] = data["entry"][i]["resource"]["identifier"][3]["type"]["coding"][0]["display"]
#         identifier_l.append(identifier)
#         resource_dict = identifier_l 
        print(resource_dict)

{'active': False}

In [100]:

final_list = []
for i in range (len(data["entry"])):
    resource_dict = {}
    temp_list = []



    if data["entry"][i]["resource"]["resourceType"] == "Patient":

        resource_dict["resource_type"] = data["entry"][i]["resource"]["resourceType"]
        resource_dict["id"] = data["entry"][i]["resource"]["id"]
        try:
            # resource_dict["identifier"] = data["entry"][i]["resource"]["identifier"]
            identifier_dict["Medical Record Number"] = data["entry"][i]["resource"]["identifier"][1]["value"]
            identifier_dict["Social Security Number"] = data["entry"][i]["resource"]["identifier"][2]["value"]
            identifier_dict["Driver's License"] = data["entry"][i]["resource"]["identifier"][3]["value"]
            identifier_dict["Passport Number"] = data["entry"][i]["resource"]["identifier"][4]["value"]
            identifier.append(identifier_dict)
            resource_dict["identifier"] = identifier 
    #         print(identifier)
        except:
            pass
        try:
            if data["entry"][i]["resource"]["deceasedDateTime"] != []:
                resource_dict["active"] = "yes"

#                     print("active:",active)
        except Exception as e:

            resource_dict["active"] = "No"
    #             print("error:",e)

        try:
            resource_dict["telecom"] = data["entry"][i]["resource"]["telecom"][0]["value"]
        except:
            pass
        try:

            name = data["entry"][i]["resource"]["name"][0]["given"][0]
            family = data["entry"][i]["resource"]["name"][0]["family"]

            resource_dict["name"] = name + " "+family
        except:
            pass
        try:
            resource_dict["gender"] = data["entry"][i]["resource"]["gender"]
        except:
            pass
        try:
            resource_dict["birthDate"] = data["entry"][i]["resource"]["birthDate"]
        except:
            pass
        try:
            resource_dict["deceasedBoolean"] = data["entry"][i]["resource"]["deceasedBoolean"]
        except Exception as e:
            pass
        try:
            resource_dict["multipleBirthBoolean"] = data["entry"][i]["resource"]["multipleBirthBoolean"]
        except:
            pass
        try:
            resource_dict["deceasedDateTime"] = data["entry"][i]["resource"]["deceasedDateTime"]
        except Exception as e:
            pass
        try:
            address = data["entry"][i]["resource"]["address"][0]["line"] # + data["entry"][i]["resource"]["address"][0]["city"]
            address.append(data["entry"][i]["resource"]["address"][0]["city"])
            address.append(data["entry"][i]["resource"]["address"][0]["state"])
            address.append(data["entry"][i]["resource"]["address"][0]["country"])
            address = ','.join(map(str, address))
            resource_dict["address"] = address
#                     print(address)
        except Exception as e:
    #         resource_dict["address"] = data["entry"][i]["resource"]["address"][0]["line"]
            pass

        try:
            resource_dict["maritalStatus"] = data["entry"][i]["resource"]["maritalStatus"]["coding"][0]["display"]
        except:
            pass
        try:    
            resource_dict["organization"] = data["entry"][i]["resource"]["organization"]
        except:
            pass
        try:    
            resource_dict["period"] = data["entry"][i]["resource"]["period"]
#                     print(period)
        except:
            pass
        try:    
            resource_dict["communication"] = data["entry"][i]["resource"]["communication"][0]["language"]["coding"][0]["display"]
#                     print(communication)
        except:
            pass
        try:    
            resource_dict["language"] = data["entry"][i]["resource"]["communication"][0]["language"]["coding"][0]["display"]
#                     print(language)
        except:
            pass   
        try:    
            resource_dict["preferred"] = data["entry"][i]["resource"]["communication"][0]["language"]["coding"][0]["display"]
#                     print(preferred)
        except:
            pass 

        final_list.append(resource_dict)
#                 print(final_list)
        i+=1

In [91]:
for i in range (1):
#     try:
#         resource_dict["Driver's License"] = data["entry"][1]["resource"]["identifier"]

#     except Exception as e:
#         print(e)
        
    try:
        resource_dict["telecom"] = data["entry"][i]["resource"]["telecom"][0]["value"]
        print(resource_dict)
    except:
        pass

{'resource_type': 'Provenance', 'id': '9cb02794-8917-82ae-340d-177aa8d440c7', 'Medical Record Number': 'Social Security Number', 'Social Security Number': "Driver's License", "Driver's License": [{'use': 'official', 'system': 'https://github.com/synthetichealth/synthea', 'value': '4dbc90e0-b7b2-482c-24af-1405654e59ae'}], 'telecom': '555-152-6034'}

In [101]:
final_list

[{'resource_type': 'Patient',
  'id': '7c4e1f8e-29e4-f88f-095a-aa6a9f55e6de',
  'active': 'yes',
  'telecom': '555-501-4799',
  'name': 'Deena887 Fahey393',
  'gender': 'female',
  'birthDate': '1937-10-21',
  'multipleBirthBoolean': False,
  'deceasedDateTime': '2004-09-15T09:22:00+01:00',
  'address': '1073 Mertz Track,Fall River,MA,US,Fall River,MA,US',
  'maritalStatus': 'M',
  'communication': 'English',
  'language': 'English',
  'preferred': 'English'}]

## Tabular formation( dataframes)

In [122]:
df = pd.DataFrame(final_list, columns =["resourceType","id","identifier","active",
"telecom","name","gender", "birthDate", "deceasedBoolean","deceasedDateTime" ,"address" , 
 "organization","period","maritalStatus","communication" ])

In [125]:
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,resourceType,id,identifier,active,telecom,name,gender,birthDate,deceasedBoolean,deceasedDateTime,address,organization,period,maritalStatus,communication
0,NaN,7c4e1f8e-29e4-f88f-095a-aa6a9f55e6de,NaN,yes,555-501-4799,Deena887 Fahey393,female,1937-10-21,NaN,2004-09-15T09:22:00+01:00,"1073 Mertz Track,Fall River,MA,US,Fall River,M...",NaN,NaN,M,English

In [144]:
out = df.to_dict()
json_object = json.dumps(out, indent = 4) 
# out = df.to_json(orient = 'columns')
# out = json.dumps(out)
print(type(json_object))

<class 'str'>

In [146]:
with open("sample.json", "w") as outfile:
    json.dump(out, outfile)

In [142]:
print(type(out))

<class 'dict'>

## Mongo DB

In [147]:
from pymongo import MongoClient

# Create connection to MongoDB
client = MongoClient('localhost', 27017)
db = client['name_of_database']
collection = db['name_of_collection']

# Build a basic dictionary
# d = {'website': 'www.carrefax.com', 'author': 'Daniel Hoadley', 'colour': 'purple'}

# Insert the dictionary into Mongo
# collection.insert(d)

In [148]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

In [149]:
mycol = mydb["resources"]

In [150]:
file = "sample.json"

with open(file) as f:
    
    data = json.loads(f.read())
    
data

{'resourceType': {'0': nan},
 'id': {'0': '7c4e1f8e-29e4-f88f-095a-aa6a9f55e6de'},
 'identifier': {'0': nan},
 'active': {'0': 'yes'},
 'telecom': {'0': '555-501-4799'},
 'name': {'0': 'Deena887 Fahey393'},
 'gender': {'0': 'female'},
 'birthDate': {'0': '1937-10-21'},
 'deceasedBoolean': {'0': nan},
 'deceasedDateTime': {'0': '2004-09-15T09:22:00+01:00'},
 'address': {'0': '1073 Mertz Track,Fall River,MA,US,Fall River,MA,US'},
 'organization': {'0': nan},
 'period': {'0': nan},
 'maritalStatus': {'0': 'M'},
 'communication': {'0': 'English'}}

In [151]:
mycol.insert(data)

<ipython-input-151-00f39f73cc38>:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  mycol.insert(data)

ObjectId('62154386c324f64334b753b4')

In [ ]:
for y in mycol.find():
    print(y)

### Tests

In [ ]:
df_json = pd.read_json(file)

In [ ]:
df_json["entry"][0][]

In [ ]:
for i in range(6):
    print(df_json["entry"][i]["resource"])
    if df_json["entry"][i]["resource"]["resourceType"] == "Patient":
        df_json["entry"][i]["resource"]["id"]

### Mongo Functions

In [ ]:
def mondo_db_save(df):
    out = df.to_dict()
    file = "./sample.json"
    with open(file, "w") as outfile:
        json.dump(out, outfile)
    myclient = pymongo.MongoClient("mongodb://localhost:27017/")
    emis_db = myclient["emis_database"]
    mycol = emis_db["resources"]
    file = "sample.json"
    with open(file) as f:
        data = json.loads(f.read())

def db_search():
    for y in mycol.find():
        print(y)